.recent-projects{
    display: flex;
    flex-direction: column;
    background-color: #D3D6E8;
    padding: 5%;
}

.oneDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toutVoir {
    color: blue;
}

.div-recent-projects{
    display: flex;
    justify-content: space-between;
    padding: 5% 0 1% 0;
}

.ims{
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.divEcrit{
    width: 650px;
    overflow: hidden;
}

.ullllll{
    display: flex;
    gap: 70px;
    margin: 20px 0;
}

ul p{
    color: #404045;
    font-size: 12px;
}
span{
    color: blue;
    font-size: 12px;
}

@media screen and (max-width: 768px){
    .div-recent-projects{
        flex-direction: column;
    }

    .divEcrit{
        width: auto;
        height: auto;
    }

    .oneDiv{
        flex-direction: column;
    }

    .enver{
        flex-direction: column-reverse;
    }

    .ims{
        width: 350px;
        height: 200px;
    }
}